.navigationItemContainer {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navigationItemContainer {
        height: 80px;
    }
}

.navigationItem {
    height: 100%;
    box-sizing: border-box;
    color: white;
    margin: 0 16px;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .navigationItem {
        font-size: 18px;
    }
}

.navigationItem.accountBox {
    height: 75px;
    width: 75px;
    flex-shrink: 0;
    text-align: center;
}

.navigationItem.menu {
    order: -1;
}

.menu-icon {
    fill: #fff;
    height: 70%;
    width: 70%;
}

.navigationItem.accountBox > a {
    width: 100%;
    height: 100%;
}

.navigationItem > a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navigationItem > button {
    background: #0089a8;
    border: 1px;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.navigationItem > a:visited {
    color: white;
}

.navigationItemContainer {
    display: flex;
    background-color: #23252a;
}