.item-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

.item-summary {
  flex: 3 0 0%;
  max-width: 50%;
  min-width: 40%;
  width: 0px;
  display: block;
  box-sizing: border-box;
}

.item-main {
  flex: 4 0 0%;
  margin-left: 20px;
  margin-right: 20px;
  width: 0px;
  display: block;
}
