.box-panel-activity {
  margin-bottom: -1px;
  margin-top: 80px;
  border-radius: 10px;
  border-right: 1px solid rgb(229, 232, 235);
  border-bottom: 1px solid rgb(229, 232, 235);
  border-left: 1px solid rgb(229, 232, 235);
  border-image: initial;
  border-top: none;
  color: rgb(4, 17, 29);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-top: none;
  border-left: none;
  border-right: none;
}

.box-button {
  border: 0px;
  margin: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  border-top: 1px solid rgb(229, 232, 235);
  border-left: 1px solid rgb(229, 232, 235);
  border-right: 1px solid rgb(229, 232, 235);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  user-select: none;
  background-color: rgb(255, 255, 255);
  font-family: inherit;
  background: inherit;
  appearance: button;
}
.up-down-icon {
  margin-left: auto;
  color: rgba(4, 17, 29, 0.5);
}
.button-body {
  height: initial;
  overflow: visible;
  transition: height 100ms ease 0s;
  box-sizing: border-box;
  display: block;
  color: rgb(53, 56, 64);
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  box-sizing: border-box;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel-body {
  border-top: 1px solid rgb(229, 232, 235);
  border-left: 1px solid rgb(229, 232, 235);
  border-right: 1px solid rgb(229, 232, 235);
  color: rgb(53, 56, 64);
  background-color: rgb(251, 253, 255);
  display: block;
  overflow: visible;
}

.event-history {
  max-height: 332px;
  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.scroll-box {
  border-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  transition: border-color 0.2s ease-in 0s;
}

.event-header {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  border-bottom: 1px solid rgb(229, 232, 235);
}

.event-header-item {
  background-color: rgb(255, 255, 255);
  color: rgb(4, 17, 29);
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 0 100px;
  overflow-x: auto;
  padding: 16px 4px;
  flex-basis: 130px;
}

.event {
  display: flex;
  border-bottom: 1px solid rgb(229, 232, 235);
}

.event-cell {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 0 100px;
  overflow-x: auto;
  padding: 16px 4px;
  flex-basis: 100px;
}

/* .event-type {
    flex-basis: 130px;
} */

.price {
  flex-basis: 100px;
}
