.nft-header-container {
  margin: 10px 20px 15px;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nft-header-name {
  font-size: 30px;
  font-weight: 600;
  max-width: 100%;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 3;
  width: 100%;
}

.nft-header-owner-container {
  margin-top: 4px;
}

.nft-header-owner {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  color: rgb(4, 17, 29);
  font-weight: 400;
  height: 24px;
}
